<%-include('partials/header')%>
<%-include('partials/navbar')%>

<style>
    .productTable img{
        width: 80px;
        height: 100px;
    }
    select{
        height: 40px;
        width: 250px;
        border-radius: 20px;
        padding-left: 10px;
    }
</style>

<main class="h-full pb-16 overflow-y-auto">
    <div class="container grid px-6 mx-auto">
        <div class="row">
            <div style="display: flex;justify-content: space-between;padding-top: 20px;">
                <div style="display: flex; flex-direction: column;">
                    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                        <u>Order Details</u>
                    </h2>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="text-xl font-semibold text-gray-700 dark:text-gray-200">
                    Order Id : #<%= order._id %>
                </h2>
                <p class="mt-3"><b>Ordered By:</b> <%= order.user.name %></p>
                <p class="mt-3"><b>Delivery Address:</b></p>
                <p class="mt-2"><%= order.address.name %></p>
                <p><%= order.address.state %></p>
                <p><%= order.address.streetAddress %>, <%= order.address.city %>, <% if(order.address.apartment){ %> <%= order.address.apartment %> <% } %></p>
                <p><%= order.address.postcode %>, <%= order.address.phone %></p>
                <p class="mt-3"><b>Delivery Status:</b></p>
                <p class="py-3 text-sm"><span class="btn btn-<%= 
                    order.status === 'Pending' ? 'warning' :
                    order.status === 'Shipped' ? 'primary' :
                    order.status === 'Out for Delivery' ? 'info' :
                    order.status === 'Delivered' ? 'success' :
                    order.status === 'Cancelled' ? 'danger' : 
                    'dark' 
                %>">
                    <%= order.status %>
                </span></p>
            </div>
            <div class="col-md-6">
                <p class="mt-3"><b>Order Amount:</b>&nbsp;&nbsp;₹&nbsp;<%= order.totalAmount+order.couponDiscount+order.offerDiscount %></p>
                <p class="mt-3"><b>Coupon Discount Applied:</b>&nbsp;&nbsp;₹&nbsp;<%= order.couponDiscount?? 0 %></p>
                <p class="mt-3"><b>Offer Discount Applied:</b>&nbsp;&nbsp;₹&nbsp;<%= order.offerDiscount?? 0 %></p>
                <p class="mt-3"><b>Total Quantity:</b>&nbsp;<%= order.quantity %></p>
                <p class="mt-3"><b>Payable Amount:</b>&nbsp;&nbsp;₹&nbsp;<%= order.totalAmount%></p>
                <p class="mt-3"><b>Payment Method:</b>&nbsp;<%= order.paymentmethod %></p>
                <% if(order.status!='Cancelled'){ %>
                    <p class="mt-3"><b>Change Delivery Status:</b></p>
                    <select class="mt-2" name="" id="orderStatus">
                        <option value="Pending"
                        <%= order.status=='Pending'? 'selected':'' %>>Pending</option>
                        <option value="Shipped"
                        <%= order.status=='Shipped'? 'selected':'' %>>Shipped</option>
                        <option value="Out for Delivery"
                        <%= order.status=='Out for Delivery'? 'selected':'' %>>Out for Delivery</option>
                        <option value="Delivered"
                        <%= order.status=='Delivered'? 'selected':'' %>>Delivered</option>
                    </select>
                <% } %>
            </div>
        </div>
        <div class="col-md-12">
            <p class="mt-3"><b>Product Details:</b></p>
            <div class="mt-3 w-full overflow-hidden rounded-lg shadow-xs">
                <div class="w-full overflow-x-auto table-responsive">
                    <table class="w-full whitespace-no-wrap productTable">
                        <thead>
                            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                <th class=" px-4 py-3">Product</th>
                                <th class="px-4 py-3">Name</th>
                                <th class="px-4 py-3">Amount</th>
                                <th class="px-4 py-3">Quantity</th>
                                <th class="px-4 py-3">Size</th>
                                <th class="px-4 py-3">Status</th>
                                <th class="px-4 py-3">Cancel Reason</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                            <% order.products.forEach(product=>{ %>
                                <tr class="text-gray-700 dark:text-gray-400">
                                    <td class="px-4 py-3 text-sm d-flex">
                                        <img src="<%= product.productId.images[0] %>" alt="Product Image">
                                    </td>
                                    <td class="px-4 py-3 text-sm"><%= product.productId.productName %></td>
                                    <td class="px-4 py-3 text-sm"><%= product.productAmount %></td>
                                    <td class="px-4 py-3 text-sm"><%= product.quantity %></td>
                                    <td class="px-4 py-3 text-sm"><%= product.size %></td>
                                    <td class="px-4 py-3 text-sm">
                                        <% if(product.status==='Return requested'){ %>
                                            <button onclick="confirmReturn('<%= product._id %>')" class="btn btn-primary">Return Requested</button>
                                        <% }else{ %>
                                            <span class="btn btn-<%= 
                                            product.status === 'Pending' ? 'warning' :
                                            product.status === 'Returned' ? 'info' :
                                            product.status === 'Delivered' ? 'success' :
                                            product.status === 'Cancelled' ? 'danger' : 
                                            'dark' 
                                            %>">
                                            <%= product.status %>
                                            </span>
                                        <% } %>
                                    </td>
                                    <% if(product.status === 'Cancelled'){ %>
                                        <td class="px-4 py-3 text-sm">
                                            <%= product.cancelReason %>
                                        </td>
                                    <% }else{ %>
                                        <td class="px-4 py-3 text-sm">
                                            None
                                        </td>
                                    <% } %>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    const selectedIndex=document.getElementById('orderStatus').selectedIndex
    const options=document.getElementById('orderStatus').options
    for(let i=0;i<options.length;i++){
        if(i<selectedIndex){
            options[i].disabled=true
        }
    }
    document.getElementById('orderStatus').addEventListener('change', ()=>{
        const status=document.getElementById('orderStatus').value
        fetch(`/admin/orderManagement/changeStatus/${status}/<%= order._id %>`, {
            method:'GET'
        })
        .then(response=>response.json())
        .then(data=>{
            if(data.success){
                Swal.fire({
                    icon:'success',
                    title:'Order Status',
                    text:'Order status changed Successfully'
                })
                .then((result)=>{
                    if(result.isConfirmed){
                        window.location.href=`/admin/orderManagement/order-details/<%= order._id %>`
                    }
                })
            }else{
                Swal.fire({
                    icon:'error',
                    title:'Order Status',
                    text:'Error while changing order status'
                })
            }
        })
    })

    const confirmReturn = (orderProductId) =>{
        Swal.fire({
            icon:'warning',
            title:'Confirm Return',
            text:'User has requested a return for this product. Please confirm',
            showCancelButton:true,
            cancelButtonText:'Decline',
            confirmButtonText:'Confirm'
        })
        .then(result=>{
            if(result.isConfirmed){
                fetch(`/admin/order/confirmReturn?order=<%= order._id %>&&orderProductId=${orderProductId}&&confirm=${1}`, {
                    method:'GET'
                })
                .then(response=>response.json())
                .then(data=>{
                    if(data.confirm){
                        Swal.fire({
                            icon:'success',
                            title:'Return Product',
                            text:'The product has been confirmed for return'
                        }).then(result=>{
                            if(result.isConfirmed){
                                window.location.href=`/admin/orderManagement/order-details/<%= order._id %>`
                            }
                        })
                    }else{
                        Swal.fire({
                            icon:'error',
                            title:'Error',
                            text:'An unexpected error occured. Please try again later'
                        })
                    }
                })
            }else{
                fetch(`/admin/order/confirmReturn?order=<%= order._id %>&&orderProductId=${orderProductId}&&confirm=${0}`, {
                    method:'GET'
                })
                .then(response=>response.json())
                .then(data=>{
                    if(data.decline){
                        Swal.fire({
                            icon:'success',
                            title:'Return Product',
                            text:'The product has been declined for return'
                        }).then(result=>{
                            if(result.isConfirmed){
                                window.location.href=`/admin/orderManagement/order-details/<%= order._id %>`
                            }
                        })
                    }else{
                        Swal.fire({
                            icon:'error',
                            title:'Error',
                            text:'An unexpected error occured. Please try again later'
                        })
                    }
                })
            }
        })
    }

</script>

<%-include('partials/footer')%>