<%-include('partials/header')%>
<%-include('partials/navbar')%>
        <main class="h-full pb-16 overflow-y-auto">
          <div class="container grid px-6 mx-auto">
            <h2
              class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
            >
              Users
          </h2>
          <% if(userBlocked.length>0) { %>
            <h4 class="text-danger notification"><%= userBlocked %></h4>
          <% } %>
          <% if(userUnblocked.length>0) { %>
            <h4 class="text-success notification"><%= userUnblocked %></h4>
          <% } %>
            <div class="w-full overflow-hidden rounded-lg shadow-xs">
              <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                  <thead>
                    <tr
                      class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                    >
                      <th class="px-4 py-3">User Image</th>
                      <th class="px-4 py-3">Username</th>
                      <th class="px-4 py-3">Email</th>
                      <th class="px-4 py-3">Address</th>
                      <th class="px-4 py-3">Date of Creation</th>
                      <th class="px-4 py-3">Action</th>
                    </tr>
                  </thead>
                  <tbody
                    class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                  >
                  <% for(let i=0;i<users.length;i++) { %>
                    <tr class="text-gray-700 dark:text-gray-400">
                      <td class="px-4 py-3">
                        <div class="flex items-center text-sm">
                          <!-- Avatar with inset shadow -->
                          <div
                            class="relative hidden w-8 h-8 mr-3 rounded-full md:block"
                          >
                            <img
                              class="object-cover w-full h-full rounded-full"
                              src="<%= users[i].image %>"
                              alt="Profile Picture"
                              loading="lazy"
                            />
                            <div
                              class="absolute inset-0 rounded-full shadow-inner"
                              aria-hidden="true"
                            ></div>
                          </div>
                        </div>
                      </td>
                      <td class="px-4 py-3 text-sm">
                        <%= users[i].name %>
                      </td>
                      <td class="px-4 py-3 text-sm">
                        <%= users[i].email  %>
                        </span>
                      </td>
                      <td class="px-4 py-3 text-sm">
                        <%= users[i].addresses %>
                      </td>
                    </td>
                    <td class="px-4 py-3 text-sm">
                      <%= users[i].createdAt.toLocaleString() %>
                    </td>
                      <td class="px-4 py-3">
                          <a href="/admin/userManagement/manageUser/<%= users[i]._id %>">
                          <% if(users[i].isBlocked==false) { %>
                            <button
                            class="flex items-center justify-between px-2 py-2 text-md font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                            aria-label="Edit"
                            style="color: white; background-color:red;border-radius: 15px;display: flex;justify-content: center;"
                          >BLOCK</button>
                          <% }else{ %>
                            <button
                            class="flex items-center justify-between px-2 py-2 text-md font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                            aria-label="Edit"
                            style="color: white; background-color: rgb(54, 255, 81);border-radius: 15px;display: flex;justify-content: center;"
                          >UNBLOCK</button>
                          <% } %>
                        </a>
                            </svg>
                        </div>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
              <div
                class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
              >
                <span class="col-span-2"></span>
                <!-- Pagination -->
                <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                  <nav aria-label="Table navigation">
                    <ul class="inline-flex items-center">
                      <% for(let i=1;i<=totalPages;i++){ %>
                        <% if(totalPages==1){ %>
                          <li></li>
                        <% }else if(i===currentPage) {%>
                      <li>
                        <button
                          class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
                        >
                          <a href="/admin/usersManagement?page=<%= i %>&&limit=<%= limit %>" class="active"><%= i %></a>
                        </button>
                      </li>
                      <%}else{%>
                        <li>
                          <button
                            class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
                          >
                            <a href="/admin/usersManagement?page=<%= i %>&&limit=<%= limit %>"><%= i %></a>
                          </button>
                        </li>
                        <%}%>
                      <% } %>
                    </ul>
                  </nav>
                </span>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

<script>

  const alertNoti = document.querySelectorAll('.notification')
  setTimeout(()=>{
    alertNoti.forEach(noti=>{
      noti.innerHTML=''
    })
  },2000)

</script>

<%-include('partials/footer')%>
