<%- include('partials/userHeader') %>
<%- include('partials/userNavbar') %>

<style>

  .decreaseBtn,
  .increaseBtn{
    background-color: white;
    color: #dbcc8f;
    border: none;
  }

</style>

<div class="hero-wrap hero-bread" style="background-image: url('/uploads/cartbanner.png');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread" style="background: white;">Your Cart</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% if(!cart || cart.products.length==0){ %>
            <div style="text-align: center;">
              <h5>No products added in the cart</h5>
            </div>
          <% }else{ %>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="text-center">
                    <th class="product-remove">Remove</th>
                    <th class="image-prod">Product</th>
                    <th class="product-name">Description</th>
                    <th class="price">Price</th>
                    <th class="price">Size</th>
                    <th class="quantity">Quantity</th>
                    <th class="total">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i=0;i<cart.products.length;i++){ %>
                    <tr class="text-center">
                      <td class="product-remove">
                        <a href="/cart/removeProduct?cart=<%= cart._id %>&&product=<%= cart.products[i]._id %>"><span>&times;</span></a>
                      </td>
                      <td class="image-prod">
                        <a href="/shop/product-details/<%= cart.products[i].productId._id %>"><img src="<%= cart.products[i].productId.images[0] %>" alt="NIKE FREE RN 2019-ID" class="img-fluid" style="width: 100px;"></a>
                      </td>
                      <td class="product-name">
                        <h3><%= cart.products[i].productId.productName %></h3>
                      </td>
                      <td class="price">₹<%= cart.products[i].productId.amount %></td>
                      <td class="size"><%= cart.products[i].size %></td>
                      <td class="quantity"><div style="display: flex;justify-content: center;"><button id="decreaseBtn<%= cart.products[i]._id %>" onclick="changeQuantity('<%= cart._id %>','<%= cart.products[i].productId._id %>','decrease', '<%= cart.products[i].productId.amount %>', '<%= cart.products[i]._id %>')" class="d-flex align-items-center decreaseBtn"><b>-</b></button><input style="background-color: white;text-align: center;width: 50px;border: none;" type="text" value="<%= cart.products[i].quantity %>" name="quantity" id="quantity<%= cart.products[i]._id %>" disabled><button id="increaseBtn<%= cart.products[i]._id %>" onclick="changeQuantity('<%= cart._id %>','<%= cart.products[i].productId._id %>','increase', '<%= cart.products[i].productId.amount %>', '<%= cart.products[i]._id %>')" class="d-flex align-items-center increaseBtn"><b>+</b></button></div></td>
                      <td class="total" id="amountData<%= cart.products[i]._id %>">₹<%= ((cart.products[i].productId.amount)*(cart.products[i].quantity)).toFixed(2) %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mt-5 ml-3 mr-3" style="display: flex;flex-direction: column;">
              <div>
                  <h5><b>CART TOTALS</b></h5>
              </div>
              <div style="display: flex;justify-content: space-between;">
                  <p>SubTotal</p>
                  <p id="subTotal">₹<%= totalAmount?? cart.totalAmount %></p>
              </div>
              <div style="display: flex;justify-content: space-between;">
                  <p>Discount</p>
                  <p id="discount">₹<%= cart.offerDiscount?? 0 %></p>
              </div>
              <div style="display: flex;justify-content: space-between;">
                <p>GST Applied @ 5%</p>
                <p id="gst">₹<%= cart.GST %></p>
            </div>
              <hr>
              <div style="display: flex;justify-content: space-between;">
                  <p><b>Total</b></p>
                  <p><b id="totalAmount">₹<%= cart.totalAmount %></b></p>
              </div>
              <button style="width: 100%;border-radius: 20px;background-color: #dbcc8f;border: none;color: white;height: 35px;" onclick="goToCheckout('<%= cart._id %>')">Proceed to checkout</button>
          </div>
        </div>
      <% } %>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>

    const goToCheckout=(cartId)=>{      
      fetch(`/checkQuantity/${cartId}`, {
        method:'GET'
      })
      .then(response=>response.json())
      .then(data=>{
        if(data.success){
          window.location.href=`/loadCheckout/${cartId}`
        }else{
          Swal.fire({
            icon:'error',
            title:'No stock',
            text:`Not enough stock is available for ${data.name}`
          })
        }
      })
    }

    const changeQuantity = (cartId,cartProductId,action,productAmount,productId) =>{
      const quantityInput=document.getElementById(`quantity${productId}`)
      let currentQuantity=parseInt(quantityInput.value)
      
      if(currentQuantity>=1 && currentQuantity<=5){
        fetch(`/shop/cart/changeQuantity?cart=${cartId}&&cartProduct=${cartProductId}&&action=${action}&&quantity=${currentQuantity}&&cartProductId=${productId}`,{
        method:'GET'
      })
      .then(response=>response.json())
      .then(data=>{
        const cart=data.updatedCart

        if(data.increase && action==='increase'){                    
          if(currentQuantity<5){
            currentQuantity++
            quantityInput.value=currentQuantity
          } 
        }else if(data.decrease && action==='decrease'){
          if(currentQuantity>1){
            currentQuantity--
            quantityInput.value=currentQuantity 
          }
        }
        let totalAmount=0
        cart.products.forEach(product=>{
          if(product.productId.regularPrice){
            totalAmount+=(product.productId.regularPrice*product.quantity)
          }else{
            totalAmount+=(product.productId.amount*product.quantity)
          }
        })
        
        document.getElementById('subTotal').innerText=`₹${totalAmount}`
        document.getElementById('discount').innerText=`₹${cart.offerDiscount}`
        document.getElementById('gst').innerText=`₹${cart.GST}`
        document.getElementById(`amountData${productId}`).innerText=`₹${(productAmount*currentQuantity).toFixed(2)}`
        document.getElementById('totalAmount').innerText=`₹${cart.totalAmount}`
      })
      }
    }

  </script>

<%- include('partials/userFooter') %>