<%- include('partials/userHeader') %>
<%- include('partials/userNavbar') %>

<div class="hero-wrap hero-bread" style="background-image: url('/uploads/cartbanner.PNG');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread" style="background: white;">Your Cart</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% if(!cart || cart.products.length==0){ %>
            <div style="text-align: center;">
              <h5>No products added in the cart</h5>
            </div>
          <% }else{ %>
            <table class="table">
              <thead>
                <tr class="text-center">
                  <th class="product-remove">Remove</th>
                  <th class="image-prod">Product</th>
                  <th class="product-name">Description</th>
                  <th class="price">Price</th>
                  <th class="price">Size</th>
                  <th class="quantity">Quantity</th>
                  <th class="total">Total</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i=0;i<cart.products.length;i++){ %>
                  <tr class="text-center">
                    <td class="product-remove">
                      <a href="/user/cart/removeProduct?cart=<%= cart._id %>&&product=<%= cart.products[i]._id %>"><span>&times;</span></a>
                    </td>
                    <td class="image-prod">
                      <a href="/user/shop/product-details/<%= cart.products[i].productId._id %>"><img src="<%= cart.products[i].productId.images[0] %>" alt="NIKE FREE RN 2019-ID" class="img-fluid" style="width: 100px;"></a>
                    </td>
                    <td class="product-name">
                      <h3><%= cart.products[i].productId.productName %></h3>
                    </td>
                    <td class="price">₹<%= cart.products[i].productId.amount %></td>
                    <td class="size"><%= cart.products[i].size %></td>
                    <td class="quantity"><%= cart.products[i].quantity %></td>
                    <td class="total">₹<%= (cart.products[i].productId.amount)*(cart.products[i].quantity) %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mt-5 ml-3 mr-3" style="display: flex;flex-direction: column;">
              <div>
                  <h5><b>CART TOTALS</b></h5>
              </div>
              <div style="display: flex;justify-content: space-between;">
                  <p>SubTotal</p>
                  <p>₹<%= cart.totalAmount %></p>
              </div>
              <div style="display: flex;justify-content: space-between;">
                  <p>Delivery</p>
                  <p>₹0</p>
              </div>
              <div style="display: flex;justify-content: space-between;">
                  <p>Discount</p>
                  <p>₹0</p>
              </div>
              <hr>
              <div style="display: flex;justify-content: space-between;">
                  <p><b>Total</b></p>
                  <p><b>₹<%= cart.totalAmount %></b></p>
              </div>
              <button style="width: 100%;border-radius: 20px;background-color: #dbcc8f;border: none;color: white;height: 35px;" onclick="goToCheckout('<%= cart._id %>')">Proceed to checkout</button>
          </div>
        </div>
      <% } %>
    </div>
  </section>


<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row">
            <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                </a>
            </div>
        </div>
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Minishop</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-5">
            <h2 class="ftco-heading-2">Menu</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Shop</a></li>
              <li><a href="#" class="py-2 d-block">About</a></li>
              <li><a href="#" class="py-2 d-block">Journal</a></li>
              <li><a href="#" class="py-2 d-block">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Help</h2>
            <div class="d-flex">
                <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                  <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
                  <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
                  <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
                  <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
                </ul>
                <ul class="list-unstyled">
                  <li><a href="#" class="py-2 d-block">FAQs</a></li>
                  <li><a href="#" class="py-2 d-block">Contact</a></li>
                </ul>
              </div>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

        </div>
      </div>
    </div>
  </footer>

  <script>

    const goToCheckout=(cartId)=>{
      window.location.href=`/user/checkout/${cartId}`
    }

  </script>

<%- include('partials/userFooter') %>