<%- include('partials/userHeader') %>
<%- include('partials/userNavbar')%>

<style>
	.dashed-word {
      display: inline-flex;
      align-items: center;
    }

    .dash {
      border-bottom: 1px dashed black;
      flex: 1;
      margin: 0 5px;
    }

	.review-stars input[type='radio']{
      display: none;
    }

    .review-stars label{
      font-size: 20px;
    }

    .review-stars{
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

	.productSearch{
		margin-left: 40px;
	}

	.search-input {
        width: 400px;
        padding: 10px 40px 10px 35px;
        border: 2px solid #555;
        border-radius: 25px;
        background-color: #ffffff;
        color: black;
        font-size: 16px;
        outline: none;
        transition: 0.3s;
    }

	.search-input:focus {
        border-color: #dbcc8f;
    }

	@media (max-width:768px){
		.search-input{
			width: 300px;
			margin-top: 20px;
			margin-left: -50px;
		}
	}

</style>

    <div class="hero-wrap hero-bread" style="background-image: url('/uploads/wishlistbanner.png');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          </div>
        </div>
      </div>
    </div>
    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row">
				<% if(!product){ %>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						  <li><a href="/" style="color: rgba(33, 37, 41, 0.75);">Home&nbsp;&nbsp;>&nbsp;&nbsp;</a></li>
						  <li><a href="/shop" style="color: rgba(33, 37, 41, 0.75);">Shop&nbsp;&nbsp;>&nbsp;&nbsp;</a></li>
						</ol>
					  </nav>
					  <div class="col-md-8 col-lg-10 order-md-last">
						<div class="row">
							<h4>No products currently available</h4>
						</div>
					  </div>
				<% }else{ %>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
					  <li><a href="/" style="color: rgba(33, 37, 41, 0.75);">Home&nbsp;&nbsp;>&nbsp;&nbsp;</a></li>
					  <li><a href="/shop" style="color: rgba(33, 37, 41, 0.75);">Shop&nbsp;&nbsp;>&nbsp;&nbsp;</a></li>
					  <li><%= product[0].resultProducts.name %></li>
					  <li class='productSearch'><input type="text" id="searchField" class="search-input" placeholder="Search for products..."></li>
					</ol>
				  </nav>
    			<div class="col-md-8 col-lg-10 order-md-last">
    				<div class="row" id="productImages">
                        <% for(let i=0;i<product.length;i++){ %>
		    			<div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex mt-3">
		    				<div class="product d-flex flex-column">
		    					<a href="/shop/product-details/<%= product[i]._id %>" class="img-prod"><img class="img-fluid" src="<%= product[i].images[0] %>" alt="Colorlib Template">
		    						<div class="overlay"></div>
		    					</a>
		    					<div class="text py-3 pb-4 px-3">
		    						<div class="d-flex" style="justify-content: space-between;">
		    							<div class="cat">
				    						<span><%= product[i].resultProducts.name %></span>
				    					</div>
				    					<div class="review-stars">
											
												<% if(!product[i].avgRating || product[i].avgRating==null){ %>
													<% for(let j=5;j>=1;j-- ){ %>
														<input type="radio" name="rating" id="review-star<%= j %>" value="<%= j %>" disabled>
														<label for="review-star<%= j %>" style="color: #ddd;">★</i></label>
													<% } %>
												<% }else{ %>
													<% for(let j=5;j>=1;j-- ){ %>
														<% if(j<= Math.floor(product[i].avgRating)){ %>
															<input type="radio" name="rating" id="review-star<%= j %>" value="<%= j %>" disabled>
															<label for="review-star<%= j %>" style="color: #dbcc8f;">★</i></label>
														<% }else{ %>
															<input type="radio" name="rating" id="review-star<%= j %>" value="<%= j %>" disabled>
															<label for="review-star<%= j %>" style="color: #ddd;">★</i></label>
														<% } %>
													<% } %>
												<% } %>

										  </div>
			    					</div>
		    						<h3><a href="/shop/product-details/<%= product[i]._id %>"><%= product[i].productName %></a></h3>
		    						<div class="pricing">
										<% if(product[i].regularPrice){ %>
			    							<p class="price" id="price"><span class="mr-2" style="color: red;"><del>₹<%= product[i].regularPrice %></del></span><span class="mr-2">₹<%= product[i].amount  %></span><span style="font-size: 12px;color: white;background-color: red; padding-left: 2px;padding-right: 2px;"><%= Math.floor(((product[i].regularPrice-product[i].amount)/product[i].regularPrice)*100) %>% off</span></p>
										<% }else{ %>
											<p class="price" id="price"><span>₹<%= product[i].amount %></span></p>
										<% } %>
			    					</div>
			    					<p class="bottom-area d-flex px-3">
		    							<a href="/shop/product-details/<%= product[i]._id %>" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
											<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
										  </svg></span></a>
		    							<a href="/shop/product-details/<%= product[i]._id %>" class="buy-now text-center py-2">Add to Wishlist<span><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
											<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
										  </svg></span></a>
		    						</p>
		    					</div>
		    				</div>
		    			</div>
                        <%}%>

		    		</div>
		    		<div class="row mt-5">
		          <div class="col text-center">
		            <div class="block-27">
		              <ul>
						<% for(let i=0;i<totalPages;i++){ %>
							<% if(category){ %>
								<li><a href="/shop?category=<%= category %>&&page=<%= i+1 %>&&limit=<%= limit %>"><%= i+1 %></a></li>
							<% }else{ %>
								<li><a href="/shop?page=<%= i+1 %>&&limit=<%= limit %>"><%= i+1 %></a></li>
							<% } %>
		                <% } %>
		              </ul>
		            </div>
		          </div>
		        </div>
		    	</div>
				<% } %>
		    	<%- include('partials/shopNavbar') %>
    		</div>
    	</div>
    </section>

	<script>
		const newUrlParams=new URLSearchParams(window.location.search)
		const currentCategory=newUrlParams.get('category')
		document.getElementById('searchField').addEventListener('input', ()=>{
			const name=document.getElementById('searchField').value
			fetch(`/findProducts?name=${name}&&category=${currentCategory}`, {
				method:"GET"
			})
			.then(response=>response.json())
			.then(data=>{
				const product=data.products
				const productImages=document.getElementById('productImages')
				productImages.innerHTML=''
				let eachProduct=''
				for (let i = 0; i < product.length; i++) {
					let ratingStars = '';
					if (!product[i].avgRating || product[i].avgRating == null) {
						for (let j = 5; j >= 1; j--) {
							ratingStars += `
								<input type="radio" name="rating" id="review-star${j}" value="${j}" disabled>
								<label for="review-star${j}" style="color: #ddd;">★</label>
							`;
						}
					} else {
						for (let j = 5; j >= 1; j--) {
							if (j <= Math.floor(product[i].avgRating)) {
								ratingStars += `
									<input type="radio" name="rating" id="review-star${j}" value="${j}" disabled>
									<label for="review-star${j}" style="color: #dbcc8f;">★</label>
								`;
							} else {
								ratingStars += `
									<input type="radio" name="rating" id="review-star${j}" value="${j}" disabled>
									<label for="review-star${j}" style="color: #ddd;">★</label>
								`;
							}
						}
					}
					eachProduct += `
						<div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex mt-3">
							<div class="product d-flex flex-column">
								<a href="/shop/product-details/${product[i]._id}" class="img-prod">
									<img class="img-fluid" src="${product[i].images[0]}" alt="Colorlib Template">
									<div class="overlay"></div>
								</a>
								<div class="text py-3 pb-4 px-3">
									<div class="d-flex" style="justify-content: space-between;">
										<div class="cat">
										</div>
										<div class="review-stars">
											${ratingStars}
										</div>
									</div>
									<h3><a href="/shop/product-details/${product[i]._id}">${product[i].productName}</a></h3>
									<div class="pricing">
										${product[i].regularPrice ? `
											<p class="price" id="price">
												<span class="mr-2" style="color: red;"><del>₹${product[i].regularPrice}</del></span>
												<span class="mr-2">₹${product[i].amount}</span>
												<span style="font-size: 12px;color: white;background-color: red; padding-left: 2px;padding-right: 2px;">
													${Math.floor(((product[i].regularPrice - product[i].amount) / product[i].regularPrice) * 100)}% off
												</span>
											</p>
										` : `
											<p class="price" id="price"><span>₹${product[i].amount}</span></p>
										`}
									</div>
									<p class="bottom-area d-flex px-3">
										<a href="/shop/product-details/${product[i]._id}" class="add-to-cart text-center py-2 mr-1">
											<span>Add to cart <i class="ion-ios-add ml-1"></i></span>
										</a>
										<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
									</p>
								</div>
							</div>
						</div>
					`;
				}
				productImages.innerHTML=eachProduct
			})
		})			

		</script>
    
  <%- include('partials/userFooter') %>