<%-include('partials/userHeader')%>
<%-include('partials/userNavbar')%>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
<style>
    .image-container {
      overflow: hidden;
      height: 600px;
    }

    .image-container img {
      width: 100%;
      height: 100%;
      object-fit: contain; /* Ensures the image scales proportionally */
      transition: transform 0.2s ease;
    }

    .image-container:hover img {
      transform: scale(1.2);
      cursor: zoom-in;
    }

    .swiper-container {
      width: 100%;
      overflow: hidden;
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: #000;
    }

    .size-selector {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .size-selector label {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      border: 2px solid black;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .size-selector label:hover {
      background-color: #f0f0f0; 
    }

    .size-selector input[type="radio"] {
      display: none;
    }

    .size-selector input[type="radio"]:checked + label {
      background-color: black; 
      color: white;
    }

    .size-selector label span {
      font-size: 14px;
      font-weight: bold;
    }

    .inputDiv input[type="radio"]{
        margin-left: 10px;
    }

    #quantity{
        width: 50%;
    }

    .stars{
      display: inline-flex;
      gap: 5px;
    }

    .stars{
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    .rating-input input[type='radio']{
      display: none;
    }

    .rating-input label{
      font-size: 30px;
      color: #ddd;
      cursor: pointer;
    }

    .rating-input label:hover,
    .rating-input label:hover ~ label{
      color: #FFD700;
    }

    .rating-input input[type='radio']:checked ~ label{
      color: #FFD700;
    }

    .rating-input input[type='text']{
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      resize: none;
    }
    
    .rating-input input[type='submit']{
      width: 250px;
      margin-top: 20px;
      margin-bottom: 40px;
      padding: 10px;
      background-color: #dbcc8f;
      border: none;
      border-radius: 4px;
      resize: none;
    }

    .review-stars input[type='radio']{
      display: none;
    }

    .review-stars label{
      font-size: 20px;
    }

    .review-stars{
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    .avgStars input[type='radio']{
      display: none;
    }

    .avgStars label{
      font-size: 20px;
    }

    .avgStars{
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    @media (max-width:768px){
      .size-selector label{
        width: 35px;
      }
    }

</style>

<div class="hero-wrap hero-bread" style="background-image: url('/uploads/productBanner.PNG');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-0 bread" style="background: white;">Product Details</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section">
      <div class="container">
          <div class="row">
            <nav aria-label="breadcrumb">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li><a href="/user" style="color: rgba(33, 37, 41, 0.75);">Home&nbsp;&nbsp;>&nbsp;&nbsp;</a></li>
                  <li><a href="/user/shop" style="color: rgba(33, 37, 41, 0.75);">Shop&nbsp;&nbsp;>&nbsp;&nbsp;</a></li>
                  <li>Product Details</li>
                </ol>
                </nav>
              </nav>
              <div class="col-lg-8">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <% for(let i = 0; i < product.images.length; i++) { %>
                      <div class="swiper-slide">
                        <div class="image-container">
                          <img src="<%= product.images[i] %>" class="img-fluid" alt="Product Image">
                        </div>
                      </div>
                    <% } %>
                  </div>
                  <!-- Add Pagination -->
                  <div class="swiper-pagination mb-4"></div>
                  <!-- Add Navigation Buttons -->
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </div>
              <div class="col-lg-4 product-details pl-md-5 ftco-animate">
                  <h3><%= product.productName %></h3>
                  <div class="rating d-flex">
                          <p class="text-left mr-1">
                            <a href="#" class="mr-2 mt-5"><%= rating %></a>
                            <div class="avgStars mr-2">
                              <% for(let j=5;j>=1;j-- ){ %>
                                <% if(j<=rating){ %>
                                  <input type="radio" name="rating" id="review-star<%= j %>" value="<%= j %>" disabled>
                                  <label for="review-star<%= j %>" style="color: #dbcc8f;">★</i></label>
                                <% }else{ %>
                                  <input type="radio" name="rating" id="review-star<%= j %>" value="<%= j %>" disabled>
                                  <label for="review-star<%= j %>" style="color: #ddd;">★</i></label>
                                <% } %>
                              <% } %>
                            </div>
                          </p>
                          <p class="text-left mr-4">
                              <a href="#" class="mr-2" style="color: #000;"><%= product.review?.length || '0' %> <span style="color: #bbb;">Ratings</span></a>
                          </p>
                      </div>
                      <% if(product.regularPrice){ %>
                        <p class="price"><span class="mr-3" style="color: red;"><del>₹<%= product.regularPrice %></del></span><span class="mr-3">₹<%= product.amount %></span><span style="font-size: 12px;color: white;background-color: red; padding-left: 2px;padding-right: 2px;"><%= Math.floor(((product.regularPrice-product.amount)/product.regularPrice)*100) %>% off</span></p>
                      <% }else{ %>
                        <p class="price"><span>₹<%= product.amount %></span></p>
                      <% } %>
                  <h5><u>Product Description</u></h5>
                      <ul>
                        <% for(let i=0;i<product.description.length;i++){ %>
                        <li><%= product.description[i] %></li>
                        <% } %>
                      </ul>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group size-selector">
                                <h5><u>Select Size:</u></h5>
                                <p class="text-danger" id="selectSize" style="display: none;">Please select a size</p>
                                <form action="">
                                    <div style="display: flex;" class="inputDiv" data-sizes='<%= JSON.stringify(product.sizeAvailable) %>'>
                                      <% Object.keys(product.sizeAvailable).forEach(size => { %>
                                        <% if(product.sizeAvailable[size]==0){ %>
                                          <input class="size" type="radio" id="size-<%= size %>" name="size" value="<%= size %>" disabled>
                                          <label style="border:1px solid red;color: red;margin-right: 5px;" for="size-<%= size %>"><span><%= size %></span></label>
                                        <% }else{ %>
                                          <input class="size" type="radio" id="size-<%= size %>" name="size" value="<%= size %>" required>
                                          <label style="margin-right: 5px;" for="size-<%= size %>"><span><%= size %></span></label>
                                        <% } %>
                                      <% }) %>
                                    </div>
                                    <h5><u>Select Quantity:</u></h5>
                                    <div class="d-flex">
                                      <button id="decreaseBtn" class="d-flex align-items-center"><b>-</b></button><input style="background-color: white;text-align: center;" type="text" name="quantity" id="quantity" disabled><button id="increaseBtn" class="d-flex align-items-center"><b>+</b></button>
                                    </div>
                                  </div>
                                </div>
                              <div class="w-100"></div>
                            <div class="w-100"></div>
                          <div class="col-md-12">
                            <p class="text-danger" id="selectStock" style="display: none;">Please select quantity</p>
                      <% if(product.stock==0 || !product.stock){ %>
                          <p style="color: #ff0000;">Out of Stock</p>
                      <% }else{%>
                          <p style="color: #000;" id="stockCount"></p>
                      <% } %>
                      </div>
                    </div>
                    <% if(product.stock!=0){ %>
                      <p><input type="submit" class="btn btn-black py-3 px-5 mr-2" value="Add to Cart" onclick="addToCart('<%= product._id %>', event)"><input type="submit" class="btn btn-primary py-3 px-5" value="Add to Wishlist" onclick="addtoWishlist('<%= product._id %>', event)"></p> 
                    <% } %>
          </form>
              </div>
          </div>

          <div class="mt-5">
            <div><h4><b>Add your Review</b></h4></div>
            <div class="rating-input">
              <form action="/user/shop/product-details/add-review/<%= product._id %>" method="post">
                <div class="stars">
                  <% for(let i=5;i>=1;i-- ){ %>
                    <input type="radio" name="rating" id="star<%= i %>" value="<%= i %>">
                    <label for="star<%= i %>">★</i></label>
                  <% } %>
                </div>
                <div>
                  <input type="text" name="comment" placeholder="Write your review here..." required>
                </div>  
                <input type="submit" value="Submit Review">
              </form>
            </div>
            <div><h4><b>See other Reviews:</b></h4></div>
              <% for(let i=0;i<product.review.length;i++){ %>
                <div class="other-reviews">
                  <p style="font-size: 15px;">Review by : <%= product.review[i].user %></p>
                  <div class="review-stars">
                    <% for(let j=5;j>=1;j-- ){ %>
                      <% if(j<=product.review[i].rating){ %>
                        <input type="radio" name="rating" id="review-star<%= j %>" value="<%= j %>" disabled>
                        <label for="review-star<%= j %>" style="color: #dbcc8f;">★</i></label>
                      <% }else{ %>
                        <input type="radio" name="rating" id="review-star<%= j %>" value="<%= j %>" disabled>
                        <label for="review-star<%= j %>" style="color: #ddd;">★</i></label>
                      <% } %>
                    <% } %>
                  </div>
                  <p><b><%= product.review[i].desc %></b></p>
                  <hr style="color: black;">
                </div>
              <% } %>
            </div>




        <div class="column mt-5" style="display: flex;align-items: center;flex-direction: column;">
            <div><h2><b>Others Also Bought</b></h2></div>
            <div class="container">
              <div class="row">
                <% for(let i=0;i<3;i++){ %>
                  <div class="col-md-4">
                      <div class="product d-flex flex-column">
                          <a href="/user/shop/product-details/<%= similarProducts[i]._id %>" class="img-prod"><img class="img-fluid" src="<%= similarProducts[i].images[0] %>" alt="Colorlib Template">
                              <div class="overlay"></div>
                          </a>
                          <div class="text py-3 pb-4 px-3">
                              <div class="d-flex">
                                  <div class="cat">
                                      <span>Lifestyle</span>
                                  </div>
                                  <div class="rating">
                                      <p class="text-right mb-0">
                                          <a href="#"><span class="ion-ios-star-outline"></span></a>
                                          <a href="#"><span class="ion-ios-star-outline"></span></a>
                                          <a href="#"><span class="ion-ios-star-outline"></span></a>
                                          <a href="#"><span class="ion-ios-star-outline"></span></a>
                                          <a href="#"><span class="ion-ios-star-outline"></span></a>
                                      </p>
                                  </div>
                              </div>
                              <h3><a href="/user/shop/product-details/<%= similarProducts[i]._id %>"><%= similarProducts[i].productName %></a></h3>
                              <div class="pricing">
                                <% if(similarProducts[i].regularPrice){ %>
                                  <p class="price"><span class="mr-2" style="color: red;"><del>₹<%= similarProducts[i].regularPrice %></del></span><span class="mr-2">₹<%= similarProducts[i].regularPrice %></span><span style="font-size: 12px;color: white;background-color: red; padding-left: 2px;padding-right: 2px;"><%= Math.floor(((similarProducts[i].regularPrice-similarProducts[i].amount)/similarProducts[i].regularPrice)*100) %>% off</span></p>
                                <% }else{ %>
                                  <p class="price"><span>₹<%= similarProducts[i].amount %></span></p>
                                <% } %>
                              </div>
                              <p class="bottom-area d-flex px-3">
                                  <a href="/user/shop/product-details/<%= similarProducts[i]._id %>" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                  </svg></span></a>
                                  <a href="/user/shop/product-details/<%= similarProducts[i]._id %>" class="buy-now text-center py-2">Add to Wishlist<span><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                  </svg></span></a>
                              </p>
                          </div>
                      </div>
                  </div>
              <% } %>
              </div>
            </div>
        </div>
        </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
      const swiper = new Swiper('.swiper-container', {
        loop: true,
        slidesPerView: 1,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
    });

            const containers = document.querySelectorAll('.image-container');

            containers.forEach(container => {
            const image = container.querySelector('img');

            container.addEventListener('mousemove', (e) => {
            const rect = container.getBoundingClientRect()
            const x = e.clientX - rect.left;
            const y = e.clientY - rect.top;

            const xPercent = (x / rect.width) * 100;;
            const yPercent = (y / rect.height) * 100;

            image.style.transformOrigin = `${xPercent}% ${yPercent}%`;
            image.style.transform = 'scale(2)';
        });

            container.addEventListener('mouseleave', () => {
            image.style.transformOrigin = 'center center';
            image.style.transform = 'scale(1)';
        });
    });

    const sizeData = JSON.parse(document.querySelector('.inputDiv').getAttribute('data-sizes'));

    document.getElementById('decreaseBtn').addEventListener('click', (event) => {
      event.preventDefault();
      const quantity = document.getElementById('quantity');
      if (quantity.value != '1') {
        quantity.value = parseInt(quantity.value) - 1;
      }
    });

    document.getElementById('increaseBtn').addEventListener('click', (event) => {
      event.preventDefault();
      const quantity = document.getElementById('quantity');
      const size = document.querySelector('.size.active')?.value;
      const stock = sizeData[size];
      if (parseInt(quantity.value) < 5 && parseInt(quantity.value) < stock) {
        quantity.value = parseInt(quantity.value) + 1;
      }
    });

    document.querySelectorAll('.size').forEach((sizeElement) => {
      sizeElement.addEventListener('click', () => {
        const size = sizeElement.value;
        const stock = sizeData[size];
        document.getElementById('stockCount').innerText = `${stock} stocks left`;

        const quantity = document.getElementById('quantity');
        quantity.value = '1';

        document.querySelectorAll('.size').forEach((el) => el.classList.remove('active'));
        sizeElement.classList.add('active');
      });
    });



    const addToCart = (productId, event) => {
      event.preventDefault()
      const size=document.querySelector('input[name="size"]:checked')?.value    
      const quantity=document.getElementById('quantity').value
      let isValid=true

      if(!size){
        document.getElementById('selectSize').style.display='block'
        isValid=false
      }else{
        document.getElementById('selectSize').style.display='none'
      }

      if(!quantity){
        document.getElementById('selectStock').style.display='block'
        isValid=false
      }else{
        document.getElementById('selectSize').style.display='none'
      }

      if(!isValid){
        return
      }

      fetch(`/user/product/addToCart?product=${productId}&&size=${size}&&quantity=${quantity}`,{
        method:'GET'
      })
      .then(response=>response.json())
      .then(data=>{
        if(data.success){
          Swal.fire({
            icon:'success',
            title:'Add to Cart',
            text:'Item Added to Cart successfully'
          })
        }else if(data.cartLimit){
          Swal.fire({
            icon:'error',
            title:'Add to Cart',
            text:'Cart Limit has reached'
          })
        }else if(data.quantityLimit){
          Swal.fire({
            icon:'error',
            title:'Add to Cart',
            text:'The quantity exceeds the total stock count. Please reduce the quantity or check the cart'
          })
        }else if(data.quantityFive){
          Swal.fire({
            icon:'error',
            title:'Add to Cart',
            text:'The maximum quantity for a product is 5. Please reduce the quantity or check the cart'
          })
        }else if(data.needLogin){
          window.location.href='/user/login'
        }else{
          Swal.fire({
            icon:'error',
            title:'Add to Cart',
            text:'Failed to add to Cart'
          })
        }
      })
    }

    const addtoWishlist =  (productId,event)=>{
      event.preventDefault()
      const size=document.querySelector('input[name="size"]:checked')?.value
      let isValid=true

      if(!size){
        document.getElementById('selectSize').style.display='block'
        isValid=false
      }else{
        document.getElementById('selectSize').style.display='none'
      }

      if(!isValid){
        return
      }

      fetch(`/user/product/addToWishlist?product=${productId}&&size=${size}`,{
        method:"GET"
      })
      .then(response=>response.json())
      .then(data=>{
        if(data.success){
          Swal.fire({
            icon:'success',
            title:'Add to Wishlist',
            text:'Product has been successfully added to wishist'
          })
        }else if(data.alreadyExist){
          Swal.fire({
            icon:'error',
            title:'Add to Wishlist',
            text:'Item already Exists in your Wishlist'
          })
        }else if(data.needLogin){
          window.location.href='/user/login'
        }
      })
    }

    setTimeout(()=>{
      document.querySelector('.quantityErr').innerText=''
    },5000)

</script>

<%-include('partials/userFooter')%>