<%- include('partials/userHeader') %>
<%- include('partials/userNavbar') %>

<style>

    .walletBalance{
        background-color: orange;
        padding: 20px;
        border-radius: 10px;
        margin: 10px 20px;
        display: flex;
        flex-direction: column;
    }

    .balanceText{
        color: white;
        font-weight: bold;
        font-size: medium;
    }

    .balanceAmount{
        color: white;
        font-weight: bolder;
        font-size: 50px;
    }

    .productImage{
        width: 80px;
        height: 100px;
    }

</style>


<div class="hero-wrap hero-bread" style="background-image: url('/uploads/settingsbanner.PNG');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread" style="background: white;">My Wallet</h1>
        </div>
      </div>
    </div>
</div>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li><a href="/user" style="color: rgba(33, 37, 41, 0.75);">Home&nbsp;&nbsp;>&nbsp;&nbsp;</a></li>
                  <li><a href="/user/shop" style="color: rgba(33, 37, 41, 0.75);">Shop&nbsp;&nbsp;>&nbsp;&nbsp;</a></li>
                  <li>My Wallet</li>
                </ol>
              </nav>
            <%- include('partials/settingsNavbar') %>
            <div class="col-md-10 order-md-last">
                <h2 class="mb-4" style="font-weight: bold;">WALLET BALANCE</h2>
                <div class="walletBalance">
                    <div class="balanceText">
                        <u>Wallet Balance:</u>
                    </div>
                    <div class="balanceAmount">
                        ₹<%= refundOrders? (refundOrders.walletAmount).toFixed(2):0 %>
                    </div>
                </div>
                <% if(refundOrders){ %>
                    <p class="mt-4" style="font-size: 18px;">Credit History </p>
                    <div class="table-responsive">
                        <table class="table orders mt-2 w-full whitespace-no-wrap">
                            <thead>
                                <tr class="text-center">
                                    <th class="image-prod">OrderId</th>
                                    <th class="product-name">Product</th>
                                    <th>Order Date</th>
                                    <th class="price">Quantity</th>
                                    <th class="total">Refund Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% refundOrders.creditHistory.forEach(credit=>{ %>
                                    <tr class="text-center">
                                        <td>#<%= credit.orderId %></td>
                                        <td><img class="productImage" src="<%= credit.productId.images[0] %>" alt=""></td>
                                        <td><%= (credit.creditDate).toLocaleDateString() %></td>
                                        <td><%= credit.quantity %></td>
                                        <td>₹<%= credit.creditAmount %></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                <% }else{ %>
                    <p class="mt-4" style="font-size: 20px;">No refund made </p>
                <% } %>

                <% if(debitOrders.length>0){ %>
                    <p class="mt-4" style="font-size: 18px;">Debit History </p>
                    <div class="table-responsive">
                        <table class="table orders mt-2 w-full whitespace-no-wrap">
                            <thead>
                                <tr class="text-center">
                                    <th class="image-prod">OrderId</th>
                                    <th class="product-name">Product</th>
                                    <th>Order Date</th>
                                    <th class="price">Quantity</th>
                                    <th class="total">Debit Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0;i<debitOrders.length;i++){ %>
                                    <tr class="text-center">
                                        <td>#<%= debitOrders[i].debitHistory.orderId %></td>
                                        <td>
                                            <% debitOrders[i].resultProducts.forEach(product=>{ %>
                                                <img class="productImage" src="<%= product.images[0] %>" alt="">
                                            <% }) %>
                                        </td>
                                        <td><%= (debitOrders[i].debitHistory.debitDate).toLocaleDateString() %></td>
                                        <td><%= debitOrders[i].resultOrders.quantity %></td>
                                        <td>₹<%= debitOrders[i].resultOrders.totalAmount %></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%- include('partials/userFooter') %>