<%- include('partials/userHeader') %>
<%- include('partials/userNavbar') %>

<style>

  .action{
    background-color: rgb(219, 204, 143);
    border-radius: 20px;
    width: 130px;
    height: 40px;
    border: none;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  .action:hover{
    background-color: white;
    border:1px solid rgb(219, 204, 143);
    color: rgb(219, 204, 143);
  }
  .removeProduct{
    cursor: pointer;
  }

</style>

<div class="hero-wrap hero-bread" style="background-image: url('/uploads/wishlistbanner.PNG');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread" style="background: white;">Wishlist</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <% if(!wishlist || wishlist.length==0 || wishlist.products.length==0){ %>
              <div style="text-align: center;">
                <h5>No products added in Wishlist</h5>
              </div>
            <% }else{ %>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr class="text-center">
                      <th class="product-remove">Remove</th>
                      <th class="image-prod">Product</th>
                      <th class="product-name">Description</th>
                      <th class="price">Price</th>
                      <th class="price">Size</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i=0;i<wishlist.products.length;i++){ %>
                      <tr class="text-center" id="product<%= wishlist.products[i]._id %>">
                        <td class="product-remove">
                          <a class="removeProduct" onclick="removeProduct('<%= wishlist.products[i]._id %>','<%= wishlist._id %>')"><span>&times;</span></a>
                        </td>
                        <td class="image-prod">
                          <a href="/user/shop/product-details/<%= wishlist.products[i].productId._id %>"><img src="<%= wishlist.products[i].productId.images[0] %>" alt="NIKE FREE RN 2019-ID" class="img-fluid" style="width: 100px;"></a>
                        </td>
                        <td class="product-name">
                          <h3><%= wishlist.products[i].productId.productName %></h3>
                        </td>
                        <td class="price">₹<%= wishlist.products[i].productId.amount %></td>
                        <td class="size"><%= wishlist.products[i].size %></td>
                        <td class="action"><button class="action" onclick="addToCart('<%= wishlist.products[i].productId._id %>', '<%= wishlist.products[i].size %>', '<%= wishlist.products[i]._id %>', '<%= wishlist._id %>')">Add To Cart</button></td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            <% } %>
            </div>
          </div>
         
      </div>
  </section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 <script>

  const removeProduct = (productId,wishlistId) =>{
    fetch(`/user/wishlist/removeItemFromWishlist?productId=${productId}&&wishlist=${wishlistId}`,{
      method:'GET'
    })
    .then(response=>response.json())
    .then(data=>{
      if(data.success){
        document.getElementById(`product${productId}`).style.display='none'
      }else{
        Swal.fire({
          icon:'error',
          title:'Error',
          text:'There was an error in removing product'
        })
      }
    })
  }

  const addToCart = (productId,size,cartProductId,wishlistId)=>{    
    fetch(`/user/product/addToCart?product=${productId}&&size=${size}&&fromWishlist=${true}`, {
      method:'GET'
    })
    .then(response=>response.json())
    .then(data=>{
      if(data.success){
        Swal.fire({
          icon:'success',
          title:'Add to Cart',
          text:'Product added to cart successfully'
        }).then(result=>{
          if(result.isConfirmed){
            fetch(`/user/wishlist/removeItemFromWishlist?productId=${cartProductId}&&wishlist=${wishlistId}`, {
              method:'GET'
            })
            .then(response=>response.json())
            .then(data=>{
              if(data.success){
                window.location.href='/user/cart'
              }
            })
          }
        })
      }else if(data.exists){        
        Swal.fire({
          icon:'warning',
          title:'Add to Cart',
          text:'Product already exists in your cart'
        })
      }else if(data.noStock){
        Swal.fire({
          icon:'error',
          title:'No stock',
          text:'Not enough stock is available for this product'
        })
      }else{
        Swal.fire({
          icon:'error',
          title:'Error',
          text:'Error adding item to cart'
        })
      }
    })
  }

 </script>

<%- include('partials/userFooter') %>